{% extends 'theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_forum.links %}
        <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
    'page_name': current_forum.name,
    'page_logo_link': '/' ~ current_forum.url,
    'page_author': current_forum.owner.username,
    'page_description': current_forum.description,
    'page_keywords': current_forum.keywords|join(','),
    'page_links': service_page_links,
    'page_google_webdev': current_forum.googleWebDeveloper,
    'page_ga_id': current_forum.googleAnalyticsId,
    'page_logo_url': ''
} %}

{% block title %}{{ 'service_create_thread.title'|trans }} | {{ service.page_name }}{% endblock %}

{% block header %}
    <div class="container">
        <h1 class="mt-4 mb-2 pb-2 border-bottom">{{ current_board.title }}</h1>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.wysibb.com/css/default/wbbtheme.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
    <script src="https://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#thread_message").wysibb({
                allButtons: {
                    link: {
                        transform: {
                            '<a href="{URL}">{SELTEXT}</a>':'[url="{URL}"]{SELTEXT}[/url]',
                            '<a href="{URL}">{URL}</a>':'[url]{URL}[/url]'
                        }
                    },
                    numlist: {
                        transform: {
                            '<ol>{SELTEXT}</ol>':'[olist]{SELTEXT}[/olist]',
                            '<li>{SELTEXT}</li>':'[*]{SELTEXT}[/*]'
                        }
                    },
                    fontcolor: {
                        transform: {
                            '<font color="{COLOR}">{SELTEXT}</font>':'[color="{COLOR}"]{SELTEXT}[/color]'
                        }
                    },
                    fs_verysmall: {
                        transform: {
                            '<font size="1">{SELTEXT}</font>':'[size="10"]{SELTEXT}[/size]'
                        }
                    },
                    fs_small: {
                        transform: {
                            '<font size="2">{SELTEXT}</font>':'[size="12"]{SELTEXT}[/size]'
                        }
                    },
                    fs_normal: {
                        transform: {
                            '<font size="3">{SELTEXT}</font>':'[size="14"]{SELTEXT}[/size]'
                        }
                    },
                    fs_big: {
                        transform: {
                            '<font size="4">{SELTEXT}</font>':'[size="20"]{SELTEXT}[/size]'
                        }
                    },
                    fs_verybig: {
                        transform: {
                            '<font size="6">{SELTEXT}</font>':'[size="29"]{SELTEXT}[/size]'
                        }
                    },
                    fontfamily: {
                        transform: {
                            '<font face="{FONT}">{SELTEXT}</font>':'[font="{FONT}"]{SELTEXT}[/font]'
                        }
                    }
                }
            });

            var breadcrumb = $('.new-thread');
            var inputTitle = $('#thread_title');
            inputTitle.keyup(function(ev){
                breadcrumb.text($('#thread_title').val());
                if(inputTitle.val() === '') {
                    breadcrumb.text('...');
                }
            });

        })
    </script>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('forum_index', {'forum': current_forum.url}) }}">{{ 'service_create_thread.breadcrumb.home'|trans }}</a></li>
                {% for key,level in breadcrumb %}
                    {% if level.type == 1 %}
                        <li class="breadcrumb-item"><a href="{{ path('forum_board', {'forum': current_forum.url, 'board': level.id}) }}">{{ level.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('forum_board', {'forum': current_forum.url, 'board': current_board.id}) }}">{{ current_board.title }}</a></li>
                <li class="breadcrumb-item new-thread">...</li>
            </ol>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        {% for message in app.session.flashbag.get('thread_created') %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ 'service_create_thread.thread_created'|trans }} <a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': new_thread_id}) }}">{{ 'service_create_thread.view'|trans }}</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('thread_not_created') %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ 'service_create_thread.thread_not_created'|trans }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}

        {# TODO: Remove the "novalidate"! Problem is, WysiBB doesn't seem to work without it. #}
        {{ form_start(create_thread_form, {'attr': {'novalidate': 'novalidate'} }) }}
            {{ form_errors(create_thread_form) }}

            <div class="form-group row">
                {{ form_label(create_thread_form.title, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(create_thread_form.title, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block text-danger">{{ form_errors(create_thread_form.title) }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form_widget(create_thread_form.message, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                <small class="form-text text-danger">{{ form_errors(create_thread_form.message) }}</small>
            </div>

            {{ form_widget(create_thread_form.send, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
        {{ form_end(create_thread_form) }}
    </div>
{% endblock %}
