{% extends 'theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_forum.links %}
        <li class="nav-item"><a href="{{ link }}" class="nav-link">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
    'page_name': current_forum.name,
    'page_logo_link': '/' ~ current_forum.url,
    'page_author': current_forum.owner.username,
    'page_description': current_forum.description,
    'page_keywords': current_forum.keywords|join(','),
    'page_links': service_page_links,
    'page_google_webdev': current_forum.googleWebDeveloper,
    'page_ga_id': current_forum.googleAnalyticsId,
    'page_logo_url': ''
} %}

{% block stylesheets %}
    {{ parent() }}
    {# Required code! Decoda uses it for alignment #}
    <style type="text/css">
        .align-left {
            text-align: left;
        }

        .align-center {
            text-align: center;
        }

        .align-right {
            text-align: right;
        }
    </style>
{% endblock %}

{% block title %}{{ current_thread.topic }} | {{ service.page_name }}{% endblock %}

{% block header %}
    <div class="container">
        <h1 class="mt-4 mb-2 pb-2 border-bottom">{{ current_thread.topic }}</h1>
    </div>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('forum_index', {'forum': current_forum.url}) }}">{{ 'service_thread.breadcrumb.home'|trans }}</a></li>
                {% for key,level in breadcrumb %}
                    {% if level.type == 1 %}
                        <li class="breadcrumb-item"><a href="{{ path('forum_board', {'forum': current_forum.url, 'board': level.id}) }}">{{ level.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="breadcrumb-item"><a href="{{ path('forum_board', {'forum': current_forum.url, 'board': current_board.id}) }}">{{ current_board.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ current_thread.topic }}</li>
            </ol>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <tbody>
                            <tr class="d-flex">
                                <td class="col">
                                    <p class="text-center"><a href="{{ path('user', {'username': post.user.username}) }}">{{ post.user.username }}</a></p>
                                    <div class="text-center mb-3">
                                        <a href="{{ path('user', {'username': post.user.username}) }}">
                                            <img src="http://account.localhost/api/get_img?user_id={{ post.user.id }}&height=200&width=200" class="img-fluid rounded" alt="">
                                        </a>
                                    </div>
                                    {% if post.user.id == app.user.id %}
                                        {# TODO: Add edit function #}
                                        <p><a href="#edit" class="btn btn-primary btn-sm">{{ 'service_thread.edit'|trans }}</a></p>
                                    {% endif %}
                                </td>
                                <td class="col-10">{{ post.formattedMessage|raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                {% if pagination.pages_count > 1 %}
                    <ul class="pagination" style="margin:0">
                        {# Reference: http://www.strangerstudios.com/sandbox/pagination/diggstyle.php #}
                        {# Previous Page #}
                        {% if pagination.current_page > 1 %}
                            <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.previous_page, 'show': pagination.item_limit}) }}" aria-label="{{ 'service_thread.pagination.previous'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
                        {% else %}
                            <li class="disabled"><a aria-label="{{ 'service_thread.pagination.previous'|trans }}"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}

                        {# Pager #}
                        {% if pagination.pages_count < (7 + (pagination.adjacents * 2)) %}{# not enough pages to bother breaking it up #}
                            {% set page_counter = 1 %}
                            {% for i in page_counter..pagination.pages_count %}
                                {% if page_counter == pagination.current_page %}
                                    <li class="active"><a>{{ page_counter }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': page_counter, 'show': pagination.item_limit}) }}">{{ page_counter }}</a></li>
                                {% endif %}
                                {% set page_counter = page_counter + 1 %}
                            {% endfor %}
                        {% elseif pagination.pages_count >= (7 + (pagination.adjacents * 2)) %}{# enough pages to hide some #}

                            {# close to beginning; only hide later pages #}
                            {% if pagination.current_page < (1 + (pagination.adjacents * 3)) %}
                                {% set page_counter = 1 %}
                                {% for i in page_counter..(4 +(pagination.adjacents * 2)) %}
                                    {% if page_counter == pagination.current_page %}
                                        <li class="active"><a>{{ page_counter }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': page_counter, 'show': pagination.item_limit}) }}">{{ page_counter }}</a></li>
                                    {% endif %}
                                    {% set page_counter = page_counter + 1 %}
                                {% endfor %}

                                <li class="disabled"><a>...</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.last_page_m1, 'show': pagination.item_limit}) }}">{{ pagination.last_page_m1 }}</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.pages_count, 'show': pagination.item_limit}) }}">{{ pagination.pages_count }}</a></li>

                            {# in middle; hide some front and some back #}
                            {% elseif (pagination.pages_count - (pagination.adjacents * 2)) > pagination.current_page and pagination.current_page > (pagination.adjacents * 3) %}
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': 1, 'show': pagination.item_limit}) }}">1</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': 2, 'show': pagination.item_limit}) }}">2</a></li>
                                <li class="disabled"><a>...</a></li>

                                {% set page_counter = pagination.current_page - pagination.adjacents %}
                                {% for i in page_counter..(pagination.current_page + pagination.adjacents) %}
                                    {% if page_counter == pagination.current_page %}
                                        <li class="active"><a>{{ page_counter }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': page_counter, 'show': pagination.item_limit}) }}">{{ page_counter }}</a></li>
                                    {% endif %}
                                    {% set page_counter = page_counter + 1 %}
                                {% endfor %}

                                <li class="disabled"><a>...</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.last_page_m1, 'show': pagination.item_limit}) }}">{{ pagination.last_page_m1 }}</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.pages_count, 'show': pagination.item_limit}) }}">{{ pagination.pages_count }}</a></li>

                            {# close to end; only hide early pages #}
                            {% else %}
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': 1, 'show': pagination.item_limit}) }}">1</a></li>
                                <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': 2, 'show': pagination.item_limit}) }}">2</a></li>
                                <li class="disabled"><a>...</a></li>

                                {% set page_counter = pagination.pages_count - (1 + (pagination.adjacents * 3)) %}
                                {% for i in page_counter..pagination.pages_count %}
                                    {% if page_counter == pagination.current_page %}
                                        <li class="active"><a>{{ page_counter }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': page_counter, 'show': pagination.item_limit}) }}">{{ page_counter }}</a></li>
                                    {% endif %}
                                    {% set page_counter = page_counter + 1 %}
                                {% endfor %}

                            {% endif %}
                        {% endif %}

                        {# Next page #}
                        {% if pagination.current_page < pagination.last_page_m1 %}
                            <li><a href="{{ path('forum_thread', {'forum': current_forum.url, 'thread': current_thread.id, 'page': pagination.next_page, 'show': pagination.item_limit}) }}" aria-label="{{ 'service_thread.pagination.next'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
                        {% else %}
                            <li class="disabled"><a aria-label="{{ 'service_thread.pagination.next'|trans }}"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}

                    </ul>
                {% endif %}
            </div>
            {% if app.user.id > -1 %}
                <div class="col-md-4">
                    <p class="text-right"><a href="{{ path('forum_create_post', {'forum': current_forum.url, 'thread': current_thread.id}) }}" class="btn btn-primary">{{ 'service_thread.reply'|trans }}</a></p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
